.markers {
    .bm-tl {
        top: 0;
        left: 0;
        width: var(--w0);
        height: var(--h0);
    }
    .bm-tr {
        top: 0;
        right: 0;
        width: var(--w1);
        height: var(--h1);
    }
    .bm-br {
        bottom: 0;
        right: 0;
        width: var(--w2);
        height: var(--h2);
    }
    .bm-bl {
        bottom: 0;
        left: 0;
        width: var(--w3);
        height: var(--h3);
    }
}

$border-tl: hsl(30, 75%, 50%);
$border-tr: hsl(90, 75%, 50%);
$border-br: hsl(180, 75%, 50%);
$border-bl: hsl(270, 75%, 50%);

.css-marker {
    position: absolute;
    outline: 1px dashed yellowgreen;

    $marker-opacity: .6;
    
    &.bm-tl {
        background-color: transparentize($border-tl, $marker-opacity);
    }
    &.bm-tr {
        background-color: transparentize($border-tr, $marker-opacity);
    }
    &.bm-br {
        background-color: transparentize($border-br, $marker-opacity);
    }
    &.bm-bl {
        background-color: transparentize($border-bl, $marker-opacity);
    }
}
